body
{
  background-color:#316BAD;

  margin:0;
  padding:0;
}

/* tools */
.hidden
{
  display: none !important;
}

.blob
{
  background-color: #1c52ad;
  border-radius: 50%;
  color: #fff;
  width: 18px;
  height: 18px;
  display: block;
  text-align: center;
  line-height: 18px;
  margin-top: 2px;
  border:none
}

/* header */
header
{
  margin:5px 12px;
}

#help
{
  float:right;
  position:relative;
}


#help_hidden
{
  display:none;
  position:absolute;
  top:20px;
  right:0px;
  width:400px;

  border:2px solid;
  border-radius:5px;
  border-color:#929292;
  background-color:white;

  padding:6px;
}

#help:hover #help_hidden
{
  display:block;
}

/* groups */
#list_groups
{
  padding:10px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.group
{
  display: inline-block;

  border-radius:2px;

  background-color:white;

  margin: 0 5px 20px;
  padding:0px;

  width:430px;
}

 .active_group
 {
   background-color:#E9E9E9;
 }

.active_group .group_head
{
  background-color: #abb4b5;
}

.group:hover,
.group:focus
{
  background-color:#f9f9f9;
}

.group:hover .group_head,
.group:focus .group_head
{
  background-color: #dbe4e5;
}

.group_head
{
  margin:0;
  padding: 4px 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.list_tab
{
  max-height:600px;
  overflow:auto;

  border-top:1px dashed #d5d5d5;

  list-style-type:none;
  padding:7px;
}

.list_tab li
{
  clear:right;
  padding-left:5px;
  margin-bottom:1px;
}

.list_tab li img
{
  vertical-align:middle;
}

.list_tab li:hover
{
  background-color:#929292;
}

.tabButtons
{
  float:right;
  display:none;
}

.group_move
{
  display:none;
}